127.0.0.1	localhost

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

# Cluster setup
{{ int_ip_bridge }} {{ gateway_host }}.{{ gateway_domain }} {{ gateway_host }}
{% for node_id in range(1, cluster_size + 1) %}
192.168.1.10{{ node_id }} pi3-{{ node_id  }}.{{ cluster_domain }} pi3-{{ node_id  }}
{% endfor %}